/* html{
  overflow:scroll;
  overflow-x:hidden;

}

::-webkit-scrollbar{
  width:0px;

}

::-webkit-scrollbar-thumb{
  background:#aca9a9;
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .data-table{
 
max-width:70%;
  height:80vh; 
  
} */

.search-bar{
  padding:5px;
 
}

.form-control {
  text-indent: 15px;
border: none;
height: 10px;
border-radius: 0px;
border-bottom: 1px solid rgb(183, 179, 179);

}

.form-control:focus {
color: #495057;
background-color: #fff;
border-color: #eee;
outline: 0;
box-shadow: none;
border-bottom: 1px solid blue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  
 
}
.custom-data-table{
  margin:15px;
  width:90%;
  height:90vh;
  overflow:auto;
  
  
}

.custom-data-table::-webkit-scrollbar{
  width:10px;
  border-radius:5px;
}

.custom-data-table::-webkit-scrollbar-track{
  background-color:#efefef;
  border-radius:5px;
}

.custom-data-table::-webkit-scrollbar-thumb{
  background-image:linear-gradient(#d8d3d8,#d4d8da);
  border-radius:5px;
}

td, th {
  border: 1px solid #c09c9c;
  text-align: left;
  padding: 8px;
}
th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table-icon:hover{
  cursor:pointer;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

