body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.data-table{
 
max-width:70%;
  height:80vh; 
   overflow:scroll;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin:15px;
 
}
.custom-data-table{
  width:90%;
  height:90vh;
  overflow:scroll;
}

td, th {
  border: 1px solid #c09c9c;
  text-align: left;
  padding: 8px;
}
th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.table-icon:hover{
  cursor:pointer;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

